/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&spi0>;
        __overlay__ {
            status = "okay";

            mydev: mydev@0 {
                compatible = "hellovendor,hellodev", "hellodev";
                reg = <0>;
                spi-max-frequency = <10000000>;
            };
        };
    };
};

